

/* Responsive  */


@media (max-width : 768px) {

    .mostrar-menu{ transform: translatey(-1%);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        cursor: default;}


}

/* Contenedores de Cómo funciona */
.contenedorcf  {
    color: #edeaea;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 100px rgba(50, 0, 30, 1);
}

.contenedorcf p {
    padding: 10px;
    margin: 25px;
    border-radius: 5px;
    background: rgba(44, 8, 8, 0.7);
    color: aliceblue;
    cursor: text;
    text-align: justify;
}

.contenedorcf h2 {
    color: #edeaea;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border-top: rgba(50, 0, 30, 0.2) solid;
    border-radius: 7.5px;
    box-shadow: 0px 20px 10px rgba(50, 0, 30, 1);
}

.contenedorcf #pasos {
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background: rgba(92, 12, 12, 0.5);
    color: aliceblue;
    overflow: hidden;
}

#disenio, #impresion {
    float: left;
    border-radius: 25px;
    padding-right: 10px;
    max-width: 100%;
    max-height: 100%;
}

#config {
    float: right;
    border-radius: 25px;
    padding-left: 10px;
    max-width: 100%;
    max-height: 100%;
}