* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(/img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


/* Header */

header {

    height: 100px;
    background-color: rgba(0, 3, 2, 0.835);
    padding: 0 50px;
    color: white;

    display: flex;

    align-items: center;
}


/* Logo Imagen */

.logo img {

    height: 80px;
    width: auto;
    transition: all 0.3s;
    margin: 10px;

}

.logo img:hover {
    transform: scale(1.2);
}


/* Menu */

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;


}


.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
   
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: rgba(255, 217, 0, 0.714);
    transform: scale(0.7);
    transition: 0.4s;

}

#check {
    display: none;
}

/* Responsive  */

@media (max-width : 768px) {

    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 10, 7);
        left: 0;
        right: -100%;
        top: 0;
        text-align:center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;

    }

    .menu a{
    display: block;
    padding: 20px;
    
    }


    .esconder-menu{
        position: absolute;
        top: 40px;
        left: 40px;

    }

    #check:checked ~ .menu{
        right: 0;
        left: 100%;
    }

}/* Responsive */