/* 
=========================================================
= ESTILO PARA TAMAÑOS DE PANTALLA DE 768px HASTA 1280px =
=========================================================
*/

/* --------
   - BODY -
   -------- */
 
 /* ----------
    - HEADER -
    ---------- */
 /* --------
    - MAIN -
    -------- */

/* Tarjetas */
.container_cards{
    width: 100%;
    height: 50%;

    flex-direction: row;
    flex-wrap: wrap;
} 

.card {
    width: 60%; /* 414px; */
}

/* Contacto */
.container_contacto {
    width: 100%;
}

 /* ----------
    - FOOTER - 
    ---------- */
