/* 
===================================================
=               ESTILO PARA tarjetas              =
===================================================
*/

.card {
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.808);
    color: aliceblue;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width: 414px;    
}

.card:hover{
    box-shadow: 5px 5px 10px rgba(61, 182, 234, 0.795); ;   
    transform: translatey(-1%);
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .contenido{
    padding: 15px;
    text-align: center;
    margin: auto;
}

/* Contenido del card */
.card .contenido p{
    line-height: 1.5;
    color: #edeaea;
    text-align: left;
}

.card .contenido .campo {
    color:#ea0e0e;
}

/* Tituro del card */
.card .contenido h3 {
    line-height: 1.5;
    color: #e10d0d;
    margin-bottom: 15px;
}

.card .video {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
}

.card .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card .contenido .precio_techado {
    text-decoration: line-through;
    color: #c5baad;
    text-align: center;
}

.card .contenido .precio_oculto {
    font-size: 110%;
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
}

.card .contenido .precio {
    font-size: 110%;
    color: #e8810c;
    text-align: center;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: #5e0202;
    color: rgb(203, 203, 203);
    border: 1px solid ;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: rgb(203, 203, 203);
    color:#5e0202;
}

@media screen and (max-width: 414px) {
    .container_cards{
        width: 100%;
        height: 50%;
    
        flex-direction: column;
        flex-wrap: nowrap;
    } 
    
    .card {
        width: auto;
    }    
}

@media screen and (min-width: 414px) and (max-width: 1280px) {
    .container_cards{
        width: 100%;
        height: 50%;
    
        flex-direction: row;
        flex-wrap: wrap;
    } 
    
    .card {
        width: 60%;
    }
}

/* Card destacada */
.card_destacada {
    font-size: 80%;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.808);
    color: aliceblue;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width: auto;    
}

.card_destacada:hover{
    box-shadow: 5px 5px 10px rgba(61, 182, 234, 0.795); ;   
    transform: translatey(-1%);
}

.card_destacada img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card_destacada .contenido{
    padding: 15px;
    text-align: center;
    margin: auto;
}

.card_destacada .contenido p{
    line-height: 1.5;
    color: #edeaea;
    text-align: left;
}

.card_destacada .contenido .campo {
    color:#ea0e0e;
}

.card_destacada .contenido h3 {
    line-height: 1.5;
    color: #e10d0d;
    margin-bottom: 15px;
}

.card_destacada .contenido .precio_techado {
    text-decoration: line-through;
    color: #c5baad;
    text-align: center;
}

.card_destacada .contenido .precio_oculto {
    font-size: 110%;
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
}
.card_destacada .contenido .precio {
    font-size: 110%;
    color: #e8810c;
    text-align: center;
}

.card_destacada a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: #5e0202;
    color: rgb(203, 203, 203);
    border: 1px solid ;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card_destacada .contenido a:hover{
    background: rgb(203, 203, 203);
    color:#5e0202;
}
